<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
    <title>Order Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/admin.css" rel="stylesheet">
    


</head>    
<body>

<div class="container">
		
	<div class="row">
		
		<div class="span2">
		
		

		<div class="main-left-col">
		
			<h1> Order Dashboard</h1>
			
			<ul class="side-nav">

				<li class="active">
					<a href="index.html"><i class="icon-home"></i> Dashboard</a>
				</li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#store-dropdown" href="#"><i class="icon-shopping-cart"></i> Orders <b class="caret"></b></a>
					<ul id="store-dropdown" class="collapse">
						<li><a href="orders.html">View Orders</a></li>

					</ul>
				</li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#members-dropdown" href="#"><i class="icon-group"></i> Customers <b class="caret"></b></a>
					<ul id="members-dropdown" class="collapse">
						<li><a href="listing.html">Register Customer</a></li>
						<li><a href="listing.html">View Customer</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#settings-dropdown" href="#"><i class="icon-cogs"></i> Settings <b class="caret"></b></a>
					<ul id="settings-dropdown" class="collapse">
						<li><a href="listing.html">Setup</a></li>

					</ul>
				</li>
				<li><a href="#"><i class="icon-bullhorn"></i> Alerts <span class="badge badge-warning">2</span></a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#help-dropdown" href="#"><i class="icon-info-sign"></i> Help <b class="caret"></b></a>
					<ul id="help-dropdown" class="collapse">
						<li><a href="content.html">FAQ</a></li>
						
					</ul>
				</li>
			</ul>
		
		</div> <!-- end main-left-col -->
	
	</div> <!-- end span2 -->
	
	<div class="span10">
		
	<div class="secondary-masthead">
	
		<ul class="nav nav-pills pull-right">
			<li>
				<a href="#"><i class="icon-globe"></i> View Website</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> John Smith <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="profile.html">Your Profile</a></li>
					<li class="active"><a href="form.html">Account Settings</a></li>
					<li class="divider"></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</li>
		</ul>

		<ul class="breadcrumb">
			<li>
				<a href="#">Admin</a> <span class="divider">/</span>
			</li>
			<li class="active">Dashboard</li>
		</ul>
		
	</div>
	
	<div class="main-area dashboard">
	
			<div class="alert alert-info">
				<a class="close" data-dismiss="alert" href="#">x</a>
				<h4 class="alert-heading">Information</h4>
				The profile template would be used to display an individual member's information.
			</div>
			
			<div class="row">
			
				<div class="span2 profileicon">
					
					<i class="icon icon-user"></i>
					
					<p><strong>Date Registered:</strong> 12th May 2012</p>
					<p><strong>Email Address:</strong> <a href="#">johnsmith@johnsmith.com</a></p>
					
				</div>
				
				<div class="span8">
					
					<div class="row">
					
					<div class="span4">
					
						<div class="slate">
						
							<div class="page-header">
								<h2>Billing Address</h2>
							</div>
						
							<p>John Doe</p>
							<p>123 Fake St</p>
							<p>Chicago, Il</p>
							<p>USA</p>
							<p>55555</p>
						
						</div>
					
					</div>
				
					<div class="span4">
					
						<div class="slate">
						
							<div class="page-header">
								<h2>Delivery Address</h2>
							</div>
						
							<p>John Doe</p>
							<p>123 Fake St</p>
							<p>Chicago, Il</p>
							<p>USA</p>
							<p>55555</p>
						
						</div>
					
					</div>
					
					</div>
					
					<div class="row">
					
					<div class="span8">
				
						<div class="slate">
						
							<div class="page-header">
								<h2>Customer's Orders</h2>
							</div>
						
							<table class="orders-table table">
							<tbody>
								<tr>
									<td><a href="#">#12345 - John Doe</a> <span class="label label-info">Paid</span></td>
									<td>$112.00</td>
								</tr>
								<tr>
									<td><a href="#">#12345 - John Doe</a> <span class="label label-success">Dispatched</span></td>
									<td>$112.00</td>
								</tr>
								<tr>
									<td><a href="#">#12345 - John Doe</a> <span class="label label-important">Refunded</span></td>
									<td>$112.00</td>
								</tr>
								<tr>
									<td><a href="#">#12345 - John Doe</a> <span class="label">Awaiting Payment</span></td>
									<td>$112.00</td>
								</tr>
								<tr>
									<td><a href="#">#12345 - John Doe</a> <span class="label label-inverse">Failed</span></td>
									<td>$112.00</td>
								</tr>
								<tr>
									<td><a href="#">#12345 - John Doe</a> <span class="label label-warning">Cancelled</span></td>
									<td>$112.00</td>
								</tr>
								<tr>
									<td><a href="#">#12345 - John Doe</a> <span class="label label-info">Paid</span></td>
									<td>$112.00</td>
								</tr>
							</tbody>
							</table>
	
						</div>
					
					</div>
					
					</div>
					
					<div class="row">
						
						<div class="span8">
						
							<div class="slate">
							
								<div class="page-header">
									<h2>Customer History</h2>
								</div>
							
								<table class="orders-table table">
								<thead>
									<tr>
										<th>Action</th>
										<th class="actions">Date</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Placed Order # 12345</td>
										<td class="date">
											Today at 14:55
										</td>
									</tr>
									<tr>
										<td>Registered</td>
										<td class="date">
											12th May 2012 at 13:42
										</td>
									</tr>
								</tbody>
								</table>
		
							</div>
						
						</div>
						
					</div>
					
				</div>
			
			</div>
			
		<div class="row">
		
			<div class="span10 footer">
			
			
			</div>
		
		</div>
		
	</div>
	
	</div> <!-- end span10 -->
		
	</div> <!-- end row -->
		
</div> <!-- end container -->

<script src="../../../ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="assets/js/bootstrap.js"></script>


</body>

</html>