<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
    <title>Order Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/admin.css" rel="stylesheet">
    


</head>    
<body>

<div class="container">
		
	<div class="row">
		
		<div class="span2">
		
		<div class="main-left-col">
		
			<h1> Order Dashboard</h1>
			
			<ul class="side-nav">

				<li class="active">
					<a href="index.html"><i class="icon-home"></i> Dashboard</a>
				</li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#store-dropdown" href="#"><i class="icon-shopping-cart"></i> Orders <b class="caret"></b></a>
					<ul id="store-dropdown" class="collapse">
						<li><a href="orders.html">View Orders</a></li>

					</ul>
				</li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#members-dropdown" href="#"><i class="icon-group"></i> Customers <b class="caret"></b></a>
					<ul id="members-dropdown" class="collapse">
						<li><a href="listing.html">Register Customer</a></li>
						<li><a href="listing.html">View Customer</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#settings-dropdown" href="#"><i class="icon-cogs"></i> Settings <b class="caret"></b></a>
					<ul id="settings-dropdown" class="collapse">
						<li><a href="listing.html">Setup</a></li>

					</ul>
				</li>
				<li><a href="#"><i class="icon-bullhorn"></i> Alerts <span class="badge badge-warning">2</span></a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#help-dropdown" href="#"><i class="icon-info-sign"></i> Help <b class="caret"></b></a>
					<ul id="help-dropdown" class="collapse">
						<li><a href="content.html">FAQ</a></li>
						
					</ul>
				</li>
			</ul>
		
		</div> <!-- end main-left-col -->
	
	</div> <!-- end span2 -->
	
	<div class="span10">
		
	<div class="secondary-masthead">
	
		<ul class="nav nav-pills pull-right">
			<li>
				<a href="#"><i class="icon-globe"></i> View Website</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> John Smith <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="profile.html">Your Profile</a></li>
					<li class="active"><a href="form.html">Account Settings</a></li>
					<li class="divider"></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</li>
		</ul>

		<ul class="breadcrumb">
			<li>
				<a href="#">Admin</a> <span class="divider">/</span>
			</li>
			<li class="active">Dashboard</li>
		</ul>
		
	</div>
	
	<div class="main-area dashboard">
	
			<div class="alert alert-info">
				<a class="close" data-dismiss="alert" href="#">x</a>
				<h4 class="alert-heading">Information</h4>
				The content template gives examples of generic text content formatting.
			</div>
			
			<div class="row">
				
				<div class="span10">
				
					<div class="slate">
						
						<div class="page-header">
							<h1>H1 Page Title</h1>
							<h2>H2 Page Title</h2>
							<h3>H3 Page Title</h3>
							<h4>H4 Page Title</h4>
							<h5>H5 Page Title</h5>
							<h6>H6 Page Title</h6>
						</div>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget quam sit amet nisl dictum blandit. Sed cursus arcu eu libero posuere suscipit. Pellentesque ultricies, sem at varius aliquam, neque sapien placerat orci, a consequat elit neque suscipit velit. In sed ipsum elit. Vivamus nec orci nisi, ac vehicula dui. Donec lacinia nunc nec nulla egestas eget interdum ligula ullamcorper. Curabitur a tortor et nisi feugiat eleifend sit amet quis ligula. Suspendisse eu hendrerit turpis. Nullam at nisi sed urna dignissim mollis. Integer quis turpis vel nisi mollis fringilla ac in magna. Duis tempus dolor in nisi tristique bibendum.</p>
						
						<ul>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
							<li>Nullam non massa sit amet nunc consectetur venenatis in sit amet turpis.</li>
							<li>Cras imperdiet elit ut mauris commodo varius.</li>
							<li>Vestibulum quis mi non tortor mattis volutpat sit amet feugiat augue.</li>
							<li>Etiam pharetra ipsum et nulla semper eleifend.</li>
							<li>Fusce commodo sapien at tortor rutrum ultrices.</li>
						</ul>
						

					
					</div>
				
				</div>
				
			</div>
			
		<div class="row">
		
			<div class="span10 footer">
			
			
			</div>
		
		</div>
		
	</div>
	
	</div> <!-- end span10 -->
		
	</div> <!-- end row -->
		
</div> <!-- end container -->


<script src="../../../ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="assets/js/bootstrap.js"></script>


</body>

</html>